<div class="news">
  {% if site.news != blank %}
    {% assign news_size = site.news | size %}
    <div
      class="table-responsive"
      {% if include.limit and page.announcements.scrollable and news_size > 3 %}
        style="max-height: 60vw"
      {% endif %}
    >
      <table class="table table-sm table-borderless news-table">
        {% assign news = site.news | reverse %}
        {% if include.limit and page.announcements.limit %}
          {% assign news_limit = page.announcements.limit %}
        {% else %}
          {% assign news_limit = news_size %}
        {% endif %}
        {% for item in news limit: news_limit %}
          <tr>
            <th class="news-date" scope="row">{{ item.date | date: '%b %d, %Y' }}</th>
            <td>
              <div class="{% if item.thumbnail %}news-item-with-thumbnail{% endif %}">
                <div class="news-item-content">
                  {% if item.inline %}
                    {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                  {% else %}
                    <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                  {% endif %}
                </div>
                {% if item.thumbnail %}
                  <a class="news-thumbnail" href="{{ item.url | relative_url }}" aria-label="{{ item.title }}">
                    <img src="{{ item.thumbnail | relative_url }}" alt="{{ item.title }}">
                  </a>
                {% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
